@use "./_variables" as *;

.blog-post {
  margin: var(--spacing-0) var(--spacing-4); // Footer height & under construction banner

  header h1 {
    margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
  }

  header p {
    font-size: var(--fontSize-2);
    font-family: var(--font-heading);
  }

  .row>ul {
    margin-left: var(--spacing-3);
    margin-bottom: var(--spacing-2);
  }

  .row>ol {
    margin-left: var(--spacing-3);
  }
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

// Post list item
.post-list-item {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-4);
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item h2 {
  font-size: var(--fontSize-4);
  color: var(--color-primary);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: var(--spacing-4);
}

// Bio
.bio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--spacing-2);
  border-radius: var(--spacing-2);
  margin: 10px 5% 0;
  width: fit-content;
  padding: 2px;
  background-color: #e0e0e0a8;
  border: 2px dashed #ccc;
}

.bio-content {
  display: flex;
  text-align: center;
  background-color: var(--color-background);
  border: 2px dashed #ccc;
  border-radius: 2px;
  height: 100%;
  margin: auto;
}

.bio-content-text {
  margin: auto;
  height: fit-content;
  width: -webkit-fill-available;
  display: flex;

  .badge,
  p {
    margin: auto;
  }
}

.bio-avatar {
  margin: auto auto auto var(--spacing-1);
  min-width: 50px;
  border-radius: 100%;
}