// Digital Garden styles
@use "./_variables" as *;

.digital-garden-list {
  text-align: center;

  >.row>.col {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  >.row>.col>a {
    border-radius: var(--spacing-2);
    margin: var(--spacing-4);
    padding: var(--spacing-1);
    background-color: var(--color-accent-light-faded);
    border: 2px dashed var(--color-accent-light);

    >div>p {
      width: -webkit-fill-available;
      text-align: center;
    }
  }

  .digital-garden-link,
  .digital-garden-link-disabled {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    max-height: 100px;
    display: block;
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: var(--color-text) !important;
    font-weight: var(--fontWeight-medium);
    transition: color 0.2s ease, background-color 0.2s ease;
    margin-bottom: 25px;;

    div {
      position: relative;
      text-align: center;
      padding: var(--spacing-4);
      margin: 0;
      display: block;
      background-color: var(--color-background);
      border-top: 3px dashed rgb(133, 98, 74);
      border-left: 2px dashed var(--color-accent-light);
      border-right: 2px dashed var(--color-accent-light);
      border-bottom: 2px dashed var(--color-accent-light);
      border-radius: 2px;
      height: 100%;
      align-content: center;
      text-align: center;

      .flower-icon {
        position: absolute;
        top: -22px;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        height: 25px;
        z-index: 1;
      }

      p {
        color: var(--color-text);
        width: 135px;
        @apply text-sm;
        letter-spacing: 0.25em;
        text-align: center;
        margin: auto;
        display: block;
        text-align: center;
      }
    }

    &.digital-garden-link div:hover {
      background-color: var(--color-accent-light);
      border-top: 3px solid rgb(133, 98, 74);

      p {
        color: var(--primary) !important;
      }
    }

    &.digital-garden-link-disabled div {
      border: 2px dashed grey;
      opacity: 0.8;

      p {
        cursor: default;
        color: grey;
      }
    }
  }
}