.quick-nav {
    float: right;
    margin-top: 10px;
    margin-right: 15px;

    @media (max-width: 768px) {
        margin-right: 0;
    }

    > .navbar-link,
    > .navbar-link-disabled {
        padding: var(--spacing-2) var(--spacing-4);
        margin: var(--spacing-2);
        border-radius: var(--spacing-2);
        text-decoration: none;
        font-weight: var(--fontWeight-bold);
        background-color: var(--color-accent-light);

        &.navbar-link {
          color: var(--color-text) !important;
          transition: color 0.2s ease, background-color 0.2s ease;

          &:hover {
            transform: translateY(-2px);
            color: var(--color-primary) !important;
            background-color: var(--color-accent);
          }
        }

        &.navbar-link-disabled {
          color: var(--color-text-light) !important;
          cursor: default;
        }
    }
}