@use "./_variables" as *;

.recipe {
  margin: var(--spacing-0) var(--spacing-4) 95px var(--spacing-4); // Footer height & under construction banner
  margin-top: var(--spacing-12);

  header {
    display: flex;

    .recipe-rating {
      padding: 10px
    }

    h1 {
      margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
      width: fit-content
    }
  }

  .row>ul {
    margin-left: var(--spacing-3);
    margin-bottom: var(--spacing-2);
  }

  .row>ol {
    margin-left: var(--spacing-3);
  }
}

.recipe-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

// Recipe list item
.recipe-list-item {
  margin: var(--spacing-4);
  border-radius: var(--spacing-2);
  border: 2px dashed #ccc;
  padding: var(--spacing-4);
  text-align: center;
  width: fit-content;

  .card-title {
    margin: var(--spacing-2);
  }
}

.recipe-list-item p {
  margin-bottom: var(--spacing-0);
}

.recipe-list-item h2 {
  @apply text-2xl;
  color: var(--color-primary);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.recipe-list-item header {
  margin-bottom: var(--spacing-4);
}

.recipe-post-paragraph {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-2) var(--spacing-0);
  width: fit-content;
}