@keyframes sway {
    0% {
        transform: rotate(0);
        animation-timing-function: ease-in-out;
    }
    10% {
        transform: rotate(-12deg);
        animation-timing-function: ease-in-out;
    }
    30% {
        transform: rotate(8deg);
        animation-timing-function: ease-in-out;
    }
    45% {
        transform: rotate(-4deg);
        animation-timing-function: ease-in-out;
    }
    60% {
        transform: rotate(2deg);
        animation-timing-function: ease-in-out;
    }
    70% {
        transform: rotate(-.1deg);
        animation-timing-function: ease-in-out;
    }
    75% {
        transform: rotate(.05deg);
        animation-timing-function: ease-in-out;
    }
    80% {
        transform: rotate(0);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: rotate(0);
    }
}

.swinging-sign-container {
    display: flex;
    align-items: start;
    padding: 0px 30px;
    margin-bottom: var(--spacing-6);
}

.swinging-sign {
    position: relative;
    margin-top: 50px;
    display: inline-block;
    text-align: center;
    line-height: 1;    
    padding: 32px 32px 24px 32px;
    animation: sway 6s linear forwards;
    transform-origin: 50% -32px;
    background: linear-gradient(to right, var(--color-primary) 0%, var(--color-primary) 100%),
                linear-gradient(to right, var(--color-primary) 0%, var(--color-primary) 100%),
                linear-gradient(to right, var(--color-primary) 0%, var(--color-primary) 100%),
                linear-gradient(to right, var(--color-primary) 0%, var(--color-primary) 100%),
        
                radial-gradient(circle at 100% 100%, var(--color-primary) 0%, var(--color-primary) 44%, var(--color-text-light) 46%, var(--color-text-light) 55%, var(--color-primary) 57%, var(--color-primary) 70%, transparent 72%, transparent 100%),
                radial-gradient(circle at 0 100%,    var(--color-primary) 0%, var(--color-primary) 44%, var(--color-text-light) 46%, var(--color-text-light) 55%, var(--color-primary) 57%, var(--color-primary) 70%, transparent 72%, transparent 100%),
                radial-gradient(circle at 0 0,       var(--color-primary) 0%, var(--color-primary) 44%, var(--color-text-light) 46%, var(--color-text-light) 55%, var(--color-primary) 57%, var(--color-primary) 70%, transparent 72%, transparent 100%),
                radial-gradient(circle at 100% 0,    var(--color-primary) 0%, var(--color-primary) 44%, var(--color-text-light) 46%, var(--color-text-light) 55%, var(--color-primary) 57%, var(--color-primary) 70%, transparent 72%, transparent 100%),

                linear-gradient(to top,    var(--color-primary) 0%, var(--color-primary) 63%, var(--color-text-light) 65%, var(--color-text-light) 78%, var(--color-primary) 80%, var(--color-primary) 100%),
                linear-gradient(to bottom, var(--color-primary) 0%, var(--color-primary) 63%, var(--color-text-light) 65%, var(--color-text-light) 78%, var(--color-primary) 80%, var(--color-primary) 100%),

                linear-gradient(to left,   var(--color-primary) 0%, var(--color-primary) 63%, var(--color-text-light) 65%, var(--color-text-light) 78%, var(--color-primary) 80%, var(--color-primary) 100%),
                linear-gradient(to left,   var(--color-primary) 0%, var(--color-primary) 63%, var(--color-text-light) 65%, var(--color-text-light) 78%, var(--color-primary) 80%, var(--color-primary) 100%),
                linear-gradient(to right,  var(--color-primary) 0%, var(--color-primary) 63%, var(--color-text-light) 65%, var(--color-text-light) 78%, var(--color-primary) 80%, var(--color-primary) 100%),
                linear-gradient(to right,  var(--color-primary) 0%, var(--color-primary) 63%, var(--color-text-light) 65%, var(--color-text-light) 78%, var(--color-primary) 80%, var(--color-primary) 100%),

                radial-gradient(circle at 0 50%,    transparent 0%, transparent 30%, var(--color-primary) 32%, var(--color-primary) 42%, var(--color-text-light) 44%, var(--color-text-light) 48%, var(--color-primary) 50%, var(--color-primary) 100%),
                radial-gradient(circle at 100% 50%, transparent 0%, transparent 30%, var(--color-primary) 32%, var(--color-primary) 42%, var(--color-text-light) 44%, var(--color-text-light) 48%, var(--color-primary) 50%, var(--color-primary) 100%),

                linear-gradient(to right, var(--color-primary) 0%, var(--color-primary) 100%);
    
    background-size: 3px 3px,
        3px 3px,
        3px 3px,
        3px 3px,
        
        16px 16px,
        16px 16px,
        16px 16px,
        16px 16px,
        
        calc(100% - 32px + 4px) 16px,
        calc(100% - 32px + 4px) 16px,
        
        16px calc(50% - 32px),
        16px calc(50% - 32px),
        16px calc(50% - 32px),
        16px calc(50% - 32px),
        
        32px 32px,
        32px 32px,
        
        calc(100% - 32px + 4px) calc(100% - 32px);
    
    background-position: 0 calc(50% - 16px),
        100% calc(50% - 16px),
        0 calc(50% + 16px),
        100% calc(50% + 16px),
        
        0 0,
        100% 0,
        100% 100%,
        0 100%,
        
        calc(16px - 1px) 0,
        calc(16px - 1px) 100%,
        
        0 16px,
        0 calc(100% - 16px),
        100% 16px,
        100% calc(100% - 16px),
        
        0 50%,
        100% 50%,
        
        calc(16px - 1px) 16px;
    
    background-repeat: no-repeat;
    
    > p {
        margin: 0;
        color: white;
    }

    &::before {
        content: '';
        height: 2px;
        width: 51%;
        position: absolute;
        top: -15px;
        left: 0;
        z-index: -1;
        transform: rotate(-15deg);
        opacity: 0.5;
        background: linear-gradient(to right, transparent 0%, transparent 8%, var(--color-primary) 8%,  var(--color-primary) 100%);
    }
    
    &::after {
        content: '';
        height: 2px;
        width: 51%;
        position: absolute;
        top: -15px;
        right: 0;
        z-index: -1;
        transform: rotate(15deg);
        opacity: 0.5;
        background: linear-gradient(to left, transparent 0%, transparent 8%, var(--color-primary) 8%,  var(--color-primary) 100%);
    }
}