// Typography styles - Tailwind handles font sizes
@use "./_variables" as *;

// Headings - Tailwind will handle font sizes via utility classes
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-3);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);

  h1 {
    font-weight: var(--fontWeight-black);
    color: var(--color-heading-black);
  }
}

h1>a {
  color: inherit;
  text-decoration: none;
}

h2>a,
h3>a,
h4>a,
h5>a,
h6>a {
  text-decoration: none;
  color: inherit;
}

// Prose
p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-2) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-2);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-4) / 2);
}

li>p {
  margin-bottom: calc(var(--spacing-4) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li>ul {
  margin-left: var(--spacing-4);
  margin-top: calc(var(--spacing-4) / 2);
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

// Links
a {
  color: var(--color-primary);
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--color-highlight);
}

// Media queries
@media (max-width: 42rem) {
  ul,
  ol {
    list-style-position: inside;
  }
}