@use "./_variables" as *;

// watch list item
.watch-list-item {
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-2);
  border-top: 2px dashed #ccccccae;
  border-bottom: 2px dashed #ccccccae;
  padding: var(--spacing-4);

  p {
    margin-bottom: var(--spacing-0);
  }

  h2 {
    @apply text-2xl;
    color: var(--color-primary);
    margin-bottom: var(--spacing-2);
    margin-top: var(--spacing-0);
  }

  header {
    margin-bottom: var(--spacing-4);
  }

  a {
    border: 1px solid var(--color-accent-light);
    padding: var(--spacing-2);
    border-radius: var(--spacing-2);
  }
}

