@use "./_variables" as *;

.WordCloudComponent {
  width: 100%;
}

.WordCloudComponent svg {
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.WordCloudComponent text {
  font-family: var(--font-family) !important;
  font-weight: var(--font-weight-normal) !important;
  fill: var(--color-primary) !important;
  transition: fill 0.3s ease !important;
  cursor: pointer !important;
}

.WordCloudComponent text:hover {
  fill: var(--color-primary) !important;
  text-shadow: 0 0 5px var(--color-primary);
  cursor: pointer !important;
}

/* Frame */
.outer-border {
  border: 2px solid var(--color-primary);
  width: 98%;
  padding: 4px;
  margin: 10px auto 0 auto;
}

.mid-border {
  border: 4px solid var(--color-primary);
  width: 100%;
  padding: 4px;
  margin: auto;
}

.inner-border {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border: 2px solid var(--color-primary);
  width: 100%;
  background: var(--color-accent-light);
}