---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Listening" description="What I've been listening to">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-2xl font-bold">Listening</h1>
        <p>Welcome to my listening section! Here you'll find music I'm currently listening to and any recommendations.</p>
      </div>
    </div>
    
    <div class="row mt-4">

    </div>
  </div>
</BaseLayout>
