---
import type { GetStaticPaths } from 'astro';

import type { WatchList } from '../../../lib/types/watchList';
import { getWatchListById, getAllWatchList } from '../../../lib/contentful';
import { displayRichText } from '../../../lib/richTextOptions';

import BaseLayout from '../../../layouts/BaseLayout.astro';
import AuthorNoteComponent from '../../../components/AuthorNoteComponent.astro';


export const getStaticPaths = (async () => {
  const watchList = await getAllWatchList();

  return watchList.map((item: WatchList) => ({
    params: { slug: item.sys.id },
    props: { item },
  }));
}) satisfies GetStaticPaths;

const { item } = Astro.props;
const pathname = Astro.url.pathname;

if (!item?.sys?.id) {
  throw new Error('Book review ID is required but not found');
}
const watchItem = await getWatchListById(item.sys.id);

---

<BaseLayout title={`${watchItem.title} - Watch List`} description={`Watch list item: ${watchItem.title}`}>
  <div class="book-review">
    <article itemscope itemtype="http://schema.org/Article">
      <header>
        <h1 class="text-2xl font-bold !mb-1">{watchItem.title}</h1>
      </header>

      
      <div class="row prose prose-lg max-w-none mt-1">
        <h2 class="mt-8">My Thoughts</h2>
        {
          watchItem.thoughts ? (
            <Fragment set:html={displayRichText(watchItem.thoughts)} />
          ) : (
            <p class="text-gray-500 dark:text-gray-400">No thoughts have been recorded for this watch yet.</p>
          )
        }
      </div>

      <AuthorNoteComponent />
    </article>
  </div>
</BaseLayout>