---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Digital Garden" description="My digital garden!">
  <div class="digital-garden-list">
    <div class="row">
      <h1 class="text-xl">Welcome to my digital garden!</h1>

      <p>This is my digital garden, you can see what I'm currently working on, as well as my recipe bank, musings about any current reads, talking about any obsessions with what I'm listening to as well as personal guides and notes for any games that I play.</p>
      <p>I will be updating this page as I go, so expect it to be a work in progress.</p>
    </div>

    <div class="grid md:grid-cols-2 gap-3 mt-10">
      <a class="digital-garden-link font-md" href="/blog-posts/">
        <div>
          <img src="/images/flowers/flowers-row.svg" alt="flowers" class="flower-icon">
          <p class="font-bold">Blog</p>
        </div>
      </a>
      <a class="digital-garden-link font-md" href="/portfolio/">
        <div>
          <img src="/images/flowers/flowers-row.svg" alt="flowers" class="flower-icon">
          <p class="font-bold">Portfolio</p>
        </div>
      </a>

      <a class="digital-garden-link" href="/digital-garden/recipes/">
        <div>
          <img src="/images/flowers/flowers-row.svg" alt="flowers" class="flower-icon">
          <p>Recipes</p>
        </div>
      </a>

      <a class="digital-garden-link" href="/digital-garden/gaming/">
        <div>
          <img src="/images/flowers/flowers-row.svg" alt="flowers" class="flower-icon">
          <p>Gaming</p>
        </div>
      </a>

      <a class="digital-garden-link-disabled" aria-disabled>
        <div>
          <img src="/images/flowers/flowers-row.svg" alt="flowers" class="flower-icon">
          <p>Reading</p>
        </div>
      </a>

      <a class="digital-garden-link-disabled" aria-disabled>
        <div>
          <img src="/images/flowers/flowers-row.svg" alt="flowers" class="flower-icon">
          <p>Listening</p>
        </div>
      </a>
    </div>
  </div>
</BaseLayout>
