---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getAllPortfolioItems } from "../../lib/contentful";
import WordCloudComponent from "../../components/WordCloudComponent";
import type { PortfolioItem } from "../../lib/types/portfolioItem";

const portfolioItems = await getAllPortfolioItems();
---

<BaseLayout
  title="Portfolio"
  description="Take a peek at what I've been working on!"
>
  <div class="container portfolio-list" style="width: 100%;">
    <div class="row">
      <div class="col">
        {
          portfolioItems.sort((a, b) => new Date(b.sys.publishedAt).getTime() - new Date(a.sys.publishedAt).getTime()).map((item: PortfolioItem) => (
            <div class="row">
              <article
                class="portfolio-list-item"
                itemscope
                itemtype="http://schema.org/Article"
              >
                <header class="flex items-center gap-2">
                  <h2 class="text-xl">
                    <a href={"/portfolio/" + item.slug}>{item.title}</a>
                  </h2>

                  {item.isInDevelopment && (
                    <div class="flex flex-wrap gap-1 mb-2 ml-3">
                      <span class="inline-block px-2 py-1 text-xs bg-gray-200 dark:bg-gray-700 text-gray-700 dark:text-gray-300 rounded">
                        In Development
                      </span>
                    </div>
                  )}
                </header>
                <section>
                  <p>{item.description}</p>
                </section>
              </article>
            </div>
          ))
        }

        <div class="row WordCloudComponent-container">
          <WordCloudComponent client:load />
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
