---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getAllPortfolioItems } from "../../lib/contentful";
import WordCloudComponent from "../../components/word-cloud";
import type { PortfolioItem } from "../../lib/types/portfolioItem";

const portfolioItems = await getAllPortfolioItems();
---

<BaseLayout
  title="Portfolio"
  description="Take a peek at what I've been working on!"
>
  <div class="container portfolio-list" style="width: 100%;">
    <div class="row">
      <div class="col">
        {
          portfolioItems.map((item: PortfolioItem) => (
            <div class="row">
              <article
                class="portfolio-list-item"
                itemscope
                itemtype="http://schema.org/Article"
              >
                <header>
                  <h2 class="text-xl">
                    <a href={"/portfolio/" + item.slug}>{item.title}</a>
                  </h2>
                </header>
                <section>
                  <p>{item.description}</p>
                </section>
              </article>
            </div>
          ))
        }

        <div class="row word-cloud-container">
          <WordCloudComponent client:load />
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
